
config SOC_SERIES_TMS570
    bool
    select ARM
    select CPU_CORTEX_R4
    select ARM_CUSTOM_INTERRUPT_CONTROLLER
    select SYS_CLOCK_EXISTS
    select CLOCK_CONTROL
    select TMS570_TIMER
    select BIG_ENDIAN
    select PLATFORM_SPECIFIC_INIT
    select CONFIG_VFP_DP_D16
    imply XIP

config SOC_PART_NUMBER
    string
    default "tms570ls1224" if SOC_TMS570LS1224
