
config SOC_SERIES_TMS570
    bool
    select ARM
    select CPU_CORTEX_R4
    select CPU_HAS_DCLS
    select CPU_HAS_FPU
    select FPU
    select ARM_CUSTOM_INTERRUPT_CONTROLLER
    select SYS_CLOCK_EXISTS
    select BIG_ENDIAN
    select PLATFORM_SPECIFIC_INIT
    select VFP_DP_D16
    select XIP

config SOC_PART_NUMBER
    string
    default "tms570ls1224" if SOC_TMS570LS1224
