/dts-v1/;

#include <arm/ti/tms570ls1224.dtsi>
#include <ti/tms570/tms570ls1224-pinctrl.dtsi>

/ {
    model = "Orbit FramSat-1 Board";
    compatible = "orbit,fs1";
    interrupt-parent = <&intc>;

    chosen {
        zephyr,console = &uart1;
        zephyr,shell-uart = &uart1;
        zephyr,canbus = &can3;
    };
};

&uart0 {
    status = "okay";

};

&uart1 {
    status = "okay";
    pinctrl-0 = <&scirx_7_17 &scitx_8_1>;
    pinctrl-names = "default";
};

&i2c0 {
    pinctrl-0 = <&i2c_scl_0_17 &i2c_sda_0_25>;
    pinctrl-names = "default";
    status = "okay";
};

&can3 {
    status = "okay";
};

&spi1 {
    pinctrl-0 = <&spi1_ncs_0 &spi1_ncs_1 &spi1_ncs_2 &spi1_ncs_3>;
    pinctrl-names = "default";
    status = "okay";
};

&spi2 {
    pinctrl-0 = <&spi2_ncs_1>;
    pinctrl-names = "default";
    status = "okay";
};

&dmac {
    status = "okay";
};
