
config SPI_TMS570
    bool "TI TMS570 SPI Controller"
    default y
    depends on DT_HAS_TI_TMS570_SPI_ENABLED

if SPI_TMS570

config SPI_TMS570_DMA
    bool "Use DMA for TMS570 SPI"
    default y

endif
